<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
</head>
<body>

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Poppins:300" rel="stylesheet">



<body>

        <div id = "container">
            

            <div id = "results">
                <form name = "quizForm" action="loss1" method="POST">
                    <h3>Do you experience itchy skin or persistent fatigue?</h3>
                    <input type="radio" name="q1" value="a" id="q1a">Yes</input>
                    <p><input type="radio" name="q1" value="b" id="q1b">No</input></p>
                   

                  <h3>Can you experience swollen legs or ankles?</h3>
                    <input type="radio" name="q2" value="a" id="q2a">Yes</input>
                    <p><input type="radio" name="q2" value="b" id="q2b">No</input></p>
                   
                  <h3>Any complain about dark urine, jaundice?</h3>
                    <input type="radio" name="q3" value="a" id="q3a">Yes</input>
                    <p><input type="radio" name="q3" value="b" id="q3b">No</input></p>
         

                 
                   
                 <h3>Are you experiencing loss of appetite, and black or bloody stool?</h3>
                    <input type="radio" name="q5" value="a" id="q5a">Yes</input>
                    <p><input type="radio" name="q5" value="b" id="q5b">No</input></p>
         
<input type="submit" name="Submit" class='btn btn-default'>
                </form>
            </div>
        </div>

 
  </footer>
  <script >
    
  </script>
    </body>
</body>
</html>